/wallet
/target
/frontend/build
/frontend/node_modules
/frontend/package-lock.json

.env
logs.log
/frontend/.idea
*.xml
!src/main/java/com/springboot/MyTodoList/checkstyle.xml
.DS_Store
/state
src/main/resources/application.properties
.idea/
